body {
    font-family: "Droid Sans" !important;
}
.edifact-text {
    font-family: monospace;
}
td.td-max-count {
    text-align: right;
}
span.edifact-id {
    font-weight: bold;    /* text-decoration: underline; */
    color: blue;
}
z-index