.edifact-text {
    font-family: monospace;
}
td.td-max-count {
    text-align: right;
}
span.edifact-id {
    font-weight: bold;    /* text-decoration: underline; */
    color: blue;
}
img.github-ribbon {
    z-index: 10000;
}