{{ define "content"}}
<h2>About edify-web</h2>
<ul class="list-group">
    <li class="list-group-item"><a href="https://github.com/bbiskup/edify-web/" target="_blank">edify-web on GitHub</a></li>
    <li class="list-group-item"><a href="https://github.com/bbiskup/edify/" target="_blank">edify on GitHub</a></li>
    <li class="list-group-item"><a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a></li>
    </ul>
    <hr>
    &copy; (2015) Bernhard (Bernd) Biskup

</ul>{{ end }}
