{{ define "content"}}
<h2>Browse specifications</h2>
<ul class="list-group">
    <li class="list-group-item"><a href="/specs/message/" target="_blank">Message specs</a></li>
    <li class="list-group-item"><a href="/specs/segment/" target="_blank">Segment specs</a></li>
    <li class="list-group-item"><a href="/specs/compositedataelement/" target="_blank">Composite data element specs</a></li>
    <li class="list-group-item"><a href="/specs/simpledataelement/" target="_blank">Simple data element specs</a></li>
</ul>
</ul>{{ end }}
