{{ define "content"}}
<h2>Message <span class="edifact-id">{{.msgSpec.Id}}</span></h2>
<h4>Metadata</h4>
<table class="table">
    <tbody>
        <tr>
            <td>Name:</td>
            <td>{{.msgSpec.Name}}</td>
        </tr>
        <tr>
            <td>Version:</td>
            <td>{{.msgSpec.Version}}</td>
        </tr>
        <tr>
            <td>Release:</td>
            <td>{{.msgSpec.Release}}</td>
        </tr>
        <tr>
            <td>Contr. Agency:</td>
            <td>{{.msgSpec.ContrAgency}}</td>
        </tr>
        <tr>
            <td>Revision:</td>
            <td>{{.msgSpec.Revision}}</td>
        </tr>
        <tr>
            <td>Date:</td>
            <td>{{.msgSpec.Date}}</td>
        </tr>
        <tr>
            <td>Source:</td>
            <td>{{.msgSpec.Source}}</td>
        </tr>
    </tbody>
</table>
<hr>
<h4>Segments</h4>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Group?</th>
            <th>Mandatory?</th>
            <th>Max. Count</th>
        </tr>
    </thead>
    <tbody>
        {{ range .msgSpec.TopLevelGrp.Children}}
        <tr>
            <td><a href="{{.|MsgSpecPartURL}}">{{.Id}}</a></td>
            <td>{{.IsGroup}}</td>
            <td>{{.IsMandatory}}</td>
            <td class="td-max-count">{{.MaxCount}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}
