{{ define "msgspecgrpchildren"}}
<h4>Parts</h4>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Group?</th>
            <th>Mandatory?</th>
            <th>Max. Count</th>
        </tr>
    </thead>
    <tbody>
        {{$m := .msgSpec}}
        {{ range .children}}
        <tr>
            <td><a href="{{.|MsgSpecPartURL}}">{{.Id}}</a></td>
            <td>{{if .IsGroup}}<a href="{{MsgSpecGrpURL . $m.Id}}">{{.Name}}</a>{{else}}{{.Name}}{{end}}</td>
            <td>{{.IsGroup}}</td>
            <td>{{.IsMandatory}}</td>
            <td class="td-max-count">{{.MaxCount}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{ end}}
