{{define "content"}}
<h2>Message validation</h2>
<form method="POST">
    Paste EDIFACT message
    <input type="submit"  value="Submit">
    <p><p>
        <textarea class="edifact-text" name="message"  placeholder="EDIFACT Message" cols="80" rows="10"></textarea>
</form>
<hr>
{{ if .nestedMsg}}
<div class="alert alert-success" role="alert"><b>Validation successful</b></div>
<h3>Parsed <a href="{{.nestedMsg.Name|MsgSpecURLForId}}">{{.nestedMsg.Name}}</a> message</h3>
<pre>
{{.nestedMsg.Dump}}
</pre>
{{end}}

{{ if .validationError}}
<div class="alert alert-danger" role="alert"><b>Message validation failed!</b> See error(s) below.</div>
<pre>
{{.validationError.Error}}
</pre>
{{end}}

{{end}}
