{{ define "content"}}
<h2>Segment <span class="edifact-id">{{.segSpec.Id}}</span></h2>
<table class="table">
    <tbody>
        <tr>
            <th>Name:</th>
            <td>{{.segSpec.Name}}</td>
        </tr>
        <tr>
            <th>Function:</th>
            <td>{{.segSpec.Function}}</td>
        </tr>
    </tbody>
</table>
<hr>
<h3>Data elements</h3>
{{ if .segSpec.SegDataElemSpecs}}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Mandatory?</th>
            <th>Max. count</th>
        </tr>
    </thead>
    <tbody>
        {{ range .segSpec.SegDataElemSpecs}}
        <tr>
            <td><a href="{{.DataElemSpec|DataElemSpecURL}}">{{.DataElemSpec.Id}}</a></td>
            <td>{{.DataElemSpec.Name}}</td>
            <td>{{.IsMandatory}}</td>
            <td>{{.Count}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{else}}
<!-- TODO adjust once UNH etc. are supported -->
No data elements for this segment. Currently, edify does not provide data elements for
<a href="http://www.unece.org/trade/untdid/download/r1241.txt" target="_blank">ISO 9735-1</a> segments like UNH and UNT.
{{end}}
{{end}}
