{{ define "content"}}
<h2>Segment <span class="edifact-id">{{.segSpec.Id}}</span></h2>
<table class="table">
    <tbody>
        <tr>
            <th>Name:</th>
            <td>{{.segSpec.Name}}</td>
        </tr>
        <tr>
            <th>Function:</th>
            <td>{{.segSpec.Function}}</td>
        </tr>
    </tbody>
</table>
<hr>
<h3>Data elements</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Mandatory?</th>
            <th>Max. count</th>
        </tr>
    </thead>
    <tbody>
        {{ range .segSpec.SegDataElemSpecs}}
        <tr>
            <td><a href="{{.DataElemSpec|DataElemSpecURL}}">{{.DataElemSpec.Id}}</a></td>
            <td>{{.DataElemSpec.Name}}</td>
            <td>{{.IsMandatory}}</td>
            <td>{{.Count}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}
