{{ define "content"}}
<h2>Search EDIFACT specifications</h2>
<form method="GET" class="form-horizontal" action="/specsearch/">
    <div class="form-group">
        <label class="col-xs-3 control-label" for="specversion">Search term</label>
        <div class="col-xs-5">
            <input type="text" name="searchterm" placeholder="Search term" class="form-control" value="{{.searchTerm}}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label" for="specversion">Spec version</label>
        <div class="col-xs-5 selectContainer">
            <select name="specversion" class="form-control">
                <option>one</option>
                <option>two</option>
                <option>three</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-5 col-xs-offset-3">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>
<hr>
<h3>Search results</h3>

{{ template "msgspectable" .msgSpecs}}

{{ if .segSpecs|len}}
<h4>{{ .segSpecs|len}} segment specs</h4> 
<table class="table">
<thead>
    <th>ID</th>
    <th>Name</th>
</thead>
<tbody>
{{ range .segSpecs}}
<tr><td><a href="{{.|SegSpecURL}}">{{.Id}}</a></td><td>{{.Name}}</td></tr>
{{end}}
</tbody>
</table>
{{else}}
<h4>No segment specs</h4>
{{end}}

{{ if .compositeDataElemSpecs|len}}
<h4>{{ .compositeDataElemSpecs|len}} composite data element specs</h4> 
<table class="table">
<thead>
    <th>ID</th>
    <th>Name</th>
</thead>
<tbody>
{{ range .compositeDataElemSpecs}}
<tr><td><a href="{{.|DataElemSpecURL}}">{{.Id}}</a></td><td>{{.Name}}</td></tr>
{{end}}
</tbody>
</table>
{{else}}
<h4>No composite data element specs</h4>
{{end}}

{{ if .simpleDataElemSpecs|len}}
<h4>{{ .simpleDataElemSpecs|len}} simple data element specs</h4> 
<table class="table">
<thead>
    <th>ID</th>
    <th>Name</th>
</thead>
<tbody>
{{ range .simpleDataElemSpecs}}
<tr><td><a href="{{.|DataElemSpecURL}}">{{.Id}}</a></td><td>{{.Name}}</td></tr>
{{end}}
</tbody>
</table>
{{else}}
<h4>No simple data element specs</h4>
{{end}}

{{ if .codesSpecs|len}}
<h4>{{ .codesSpecs|len}} codes specs</h4> 
<table class="table">
<thead>
    <th>ID</th>
    <th>Name</th>
</thead>
<tbody>
{{ range .codesSpecs}}
<tr><td><a href="{{.|CodesSpecURL}}">{{.Id}}</a></td><td>{{.Name}}</td></tr>
{{end}}
</tbody>
</table>
{{else}}
<h4>No codes specs</h4>
{{end}}

{{ end }}
