{{ define "content"}}
<h1>Search specification</h1>
<form method="GET" class="form-horizontal" action="/specsearch/">
    <div class="form-group">
        <label class="col-xs-3 control-label" for="specversion">Search term</label>
        <div class="col-xs-5">
            <input type="text" name="searchterm" class="form-control" value="{{.searchTerm}}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label" for="specversion">Spec version</label>
        <div class="col-xs-5 selectContainer">
            <select name="specversion" class="form-control">
                <option>one</option>
                <option>two</option>
                <option>three</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-5 col-xs-offset-3">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>
<hr>
<h2>Search results</h2> 
{{ if .msgSpecs|len}} Found {{ .msgSpecs|len}} message specs {{ else }} {{ end }} 
<table class="table">
<thead>
    <th>ID</th>
    <th>Name</th>
</thead>
<tbody>
{{ range .msgSpecs}}
<tr><td><a href="{{.|msgSpecURL}}">{{.Id}}</a></td><td>{{.Name}}</td></tr>
{{end}}
</tbody>
</table>

{{ end }}
